@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @layer responsive {
        ::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}